.subreddit-list ul {
    list-style: none;
    max-height: 300px;
    overflow: scroll;
    padding: 0;
}

@media only screen and (min-width: 700px) {
    .subreddit-list {
        border: 1px solid grey;
        padding: 1rem;
    }

    .subreddit-list ul {
        max-height: none;
    }
}