.App {
    position: relative;
}

main {
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 701px) {
    main {
        display: flex;
        align-items: start;
        max-width: 900px;
        margin: auto;
    }
}