header {
    position: relative;
}

nav {
    position: relative;
    background-color: var(--grey);
}

.navpanel {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--grey);
    z-index: 10;
}

.logo {
    max-height: 30px;
}

.hamburger {
    padding: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    height: 2px;
    background-color: var(--main-color)
}

.hamburger.is-active .hamburger-inner:before,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner {
    background-color: var(--main-color)
}