.subreddit {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
}

.subreddit-link:link,
.subreddit-link:visited,
.subreddit-link:hover,
.subreddit-link:focus,
.subreddit-link:active  {
    text-decoration: none;
    color: initial;
}


.subreddit.active,
.subreddit:hover {
    background-color: var(--main-color);
    color: white
}

.subreddit img {
    width: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}