.search {
    font-size: 1.3rem;
}

.search form {
    display: flex;
    margin: auto;
    max-width: 500px;
}

.search input {
    margin: 0.5rem;
    flex-grow: 1;
    padding: 0.3rem;
    border-color: var(--main-color);
    border-style: solid;
}

.search button {
    border: none;
    background: none;
    font-size: 1.3rem;
    vertical-align: middle;
    padding: 1rem
}

button svg {
    vertical-align: middle;
    color: var(--main-color);
    font-size: 1.6rem;
}