.comment {
    border: 1px solid var(--grey);
    border-left: 2px solid var(--grey);
    line-break: anywhere;
    padding-left: 2px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.comment .comment {
    padding-right: 0;
    padding-left: 2px;
    margin: 2px;
    margin-bottom: 0.5rem;
    border-right: none;
    border-left: 2px solid var(--grey);
}

.comment:hover {
    border-left: 2px solid var(--main-color);
}

.comment h4 {
    color: var(--main-color)
}

@media only screen and (min-width: 700px) {
    .comment .comment {
        padding-left: 0.5rem;
    }
    
}