.comment {
    border: 1px solid var(--grey);
    border-left: 2px solid var(--grey);
    border-right: ;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    line-break: anywhere;
}

.comment .comment {
    padding-right: 0;
    padding-left: 2px;
    margin: 5px;
    border-right: none;
    border-left: 2px solid var(--grey);
}

.comment:hover {
    border-left: 2px solid var(--main-color);
}

.comment h4 {
    color: var(--main-color)
}



.no-comments {
    color: var(--main-color);
    text-align: center;
    margin: 5rem auto;
}

.no-comments .ufo {
    font-size: 4rem;
    display: block;
    margin: auto;
}